@mixin flex-alignment-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex-alignment-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
