@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

// COLORS
$primary-color: #33475b;
$primary-color--is-light: lighten(
  $color: $primary-color,
  $amount: 30,
);
$primary-color--is-lighter: lighten(
  $color: $primary-color,
  $amount: 60,
);

$secondary-color: #fff;
$link-color: #467de4;
$link-color--is-light: lighten(
  $color: $link-color,
  $amount: 40,
);
$cta-color: #ff7a59;
$content-section-color: #f5f8fa;

// MARGINS, PADDINGS, BORDERS
$main-border-radius: 0.2rem;
$padding-hero: 1.5rem;

// FONTS
$main-font-family: "Poppins", sans-serif;
$h1--font-size: 3rem;
$h2--font-size: 2rem;
$h3--font-size: 1.3rem;

//EFFECTS
$main-transistion-time: 0.3s;
