@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  font-family: "Poppins", sans-serif;
  color: #33475b;
  margin: 0;
}

footer {
  background-color: #33475b;
  color: #fff;
  padding: 3rem 0;
}

footer a {
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-top: 0;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
}

h3 {
  font-size: 1.3rem;
  margin-top: 0;
}

a {
  color: #33475b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #467de4;
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 100px 1rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-base, .product-card-dropdown, .product-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.2rem;
  margin: 1rem;
  padding: 1.5rem 1.8rem;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(155, 155, 155, 0.08);
          box-shadow: 0px 0px 3px 1px rgba(155, 155, 155, 0.08);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  position: relative;
}

.button-cta, .first-content__button-cta, .products__content__button-cta, .products__content__button-cta--is-outlined, .product-card__button-cta {
  cursor: pointer;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 0.2rem;
  font-weight: bold;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem 2rem;
}

.button-cta:hover, .first-content__button-cta:hover, .products__content__button-cta:hover, .products__content__button-cta--is-outlined:hover, .product-card__button-cta:hover {
  background-color: #ffa28b;
}

.button-cta--is-outlined, .dropdown-software__button-cta, .products__content__button-cta--is-outlined {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #ff7a59;
  border-radius: 0.2rem;
  font-weight: bold;
  color: #ff7a59;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0.5rem 2rem;
}

.button-cta--is-outlined:hover, .dropdown-software__button-cta:hover, .products__content__button-cta--is-outlined:hover {
  background-color: #fff2ee;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 2px rgba(120, 120, 120, 0.1);
          box-shadow: 0px 3px 2px rgba(120, 120, 120, 0.1);
  min-height: 80px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0 auto;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.navbar__logo {
  max-width: 100px;
  height: auto;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.nav__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  height: 100%;
  margin: 0;
}

.nav__link {
  height: inherit;
  padding: 0 1rem;
  position: relative;
}

.nav__link > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.nav__link > span i {
  margin-left: 0.5rem;
  font-size: 0.7rem;
}

.nav__link:hover .dropdown-content {
  opacity: 1;
  top: initial;
}

.top-nav__language-sales-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-nav__end-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav__end-section > * {
  padding: 0 1rem;
}

.top-nav__link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-nav__link-icon i {
  margin: 0 0.5rem;
}

.top-nav__link-icon:nth-child(n + 2) {
  margin: 0 1.5rem;
}

.top-nav__link-icon:hover > * {
  color: #467de4;
}

.top-nav__search-input-wrapper {
  position: relative;
}

.top-nav__search-input-wrapper:hover > .top-nav__search-input__icon {
  position: absolute;
  padding: 10px 15px;
  left: 10px;
}

.top-nav__search-input-wrapper:hover > .top-nav__search-input {
  display: block;
}

.top-nav__search-input__icon {
  color: #467de4;
  cursor: pointer;
}

.top-nav__search-input {
  padding: 8px 8px 8px 30px;
  border: 1px solid #7594b2;
  border-radius: 0.2rem;
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.top-nav__search-input:focus {
  outline: none;
}

.dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  border-radius: 0.2rem;
  border: 1px solid #d7e0e9;
  background-color: #fefefe;
  padding: 2rem;
  width: 100%;
  top: -1000px;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  overflow: hidden;
}

.dropdown-content__button-cta-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown-software__title {
  margin-bottom: 0;
}

.dropdown-software__paragraph {
  padding-bottom: 1.5rem;
  color: #7594b2;
}

.dropdown-software__button-cta {
  border-color: #467de4;
  margin: 0 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 2.5rem;
}

.dropdown-software__button-cta:hover {
  background-color: #f8fafe;
}

.dropdown-software__button-cta > a {
  color: #467de4;
}

.dropdown-software__button-cta > a i {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.dropdown-software__cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}

.product-card-dropdown {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  margin: 0.8rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product-card-dropdown:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(155, 155, 155, 0.08);
          box-shadow: 0px 0px 5px 3px rgba(155, 155, 155, 0.08);
}

.product-card-dropdown i {
  margin-top: 0.3rem;
}

.product-card-dropdown__text-wrapper {
  padding-left: 0.5rem;
}

.product-card-dropdown__title {
  margin-bottom: 0;
  font-size: 1rem;
}

.product-card-dropdown__content {
  font-size: 0.8rem;
  color: #7594b2;
}

.product-card-dropdown__content > a {
  color: #467de4;
  font-weight: bold;
}

.product-card-dropdown__content > a i {
  font-size: 0.6rem;
  padding-left: 0.3rem;
}

.dropdown-content__resources-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
}

.dropdown-resources__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dropdown-resources__section > i {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.dropdown-resources__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.dropdown-resources__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.dropdown-resources__links {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

.dropdown-resources__links li {
  padding: 0.3rem 0;
}

.product__new-tag {
  background-color: #1cd11c;
  padding: 5px 5px;
  font-size: 0.6rem;
  font-weight: bold;
  color: #fff;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  border-radius: 0.2rem;
  display: inline;
}

.hero-first-content {
  border-bottom: 3px solid #33475b;
  background-color: #fff3ef;
}

.first-content__text-wrapper {
  max-width: 45%;
}

.first-content__p__description {
  font-size: 1.3rem;
}

.first-content__button-cta {
  padding: 1.8rem 2.5rem;
  font-size: 1.1rem;
}

.first-content__p__caption {
  max-width: 80%;
  font-size: 0.8rem;
}

.hero-products {
  background-color: #f5f8fa;
}

.products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products__content__h2 {
  max-width: 60%;
  text-align: center;
}

.products__content__p {
  max-width: 70%;
}

.products__content__button-cta, .products__content__button-cta--is-outlined {
  font-size: 1.1rem;
  margin: 1rem 0.5rem;
}

.products-cards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product-card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.product-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0px 0px 15px 3px rgba(155, 155, 155, 0.18);
          box-shadow: 0px 0px 15px 3px rgba(155, 155, 155, 0.18);
}

.product-card__new-tag {
  background-color: #00d848;
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 2px 10px;
  border-radius: 1em 0 0 1em;
}

.product-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-card__title__h3 {
  margin: 0 0.5rem;
}

.product-card__title__sup {
  margin: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product-card__content {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #fff;
}

.product-card__features-title {
  padding-top: 1rem;
  font-size: 1.1rem;
}

.product-card__feature {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
}

.product-card__feature::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  color: #ff7a59;
  margin-right: 0.5rem;
}

.product-card__feature::marker {
  content: "";
}

.product-card__button-cta {
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.hero-community {
  background: -webkit-gradient(linear, left bottom, right top, from(#258a97), to(#2cb6af));
  background: linear-gradient(to right top, #258a97, #2cb6af);
}

.community-container {
  color: #fff;
  text-align: center;
}

.community__text {
  width: 80%;
  margin: auto;
}

.community__title {
  font-size: 2.2rem;
  font-weight: bold;
}

.community__paragraph {
  font-size: 1.1rem;
}

.community__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 2rem;
}

.community__grid__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
}

.community__grid__element:nth-child(4), .community__grid__element:last-child {
  border-right: 0;
}

.community__grid__element:nth-child(n + 5) {
  border-bottom: 0;
}

.community__grid__element__image {
  font-size: 2.5rem;
}

.community__grid__element__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 4rem;
  font-weight: bold;
}

.community__grid__element__content > i {
  font-size: 0.8rem;
}

.customers-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.customer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
}

.customer__title > i {
  font-size: 1.5rem;
}

.customer__paragraph {
  font-size: 1.5rem;
}

.customer__images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.customer__images__container > img {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100px;
  margin: 1rem;
}

.start-today-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-today-container > img {
  max-width: 300px;
}

.start-today__text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.start-today__title {
  font-size: 2.3rem;
}

.start-today__paragraph {
  padding-bottom: 1rem;
}

.start-today__caption {
  font-size: 0.8rem;
  color: #7594b2;
}

.footer-container {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-section, .footer-left, .footer-right {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-nav {
  margin: 0 2rem;
}

.footer-nav * {
  padding: 0.5rem 0;
}

.footer-left {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.footer-left .footer-link-wrapper {
  max-height: 30vh;
}

.footer-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  border-left: 1px solid #fff;
}

.footer-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 0.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-link-wrapper > a {
  padding-right: 1rem;
}

.footer-nav__title {
  font-weight: bold;
  margin-bottom: 0;
}

.footer-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.footer-icons-wrapper > a {
  padding: 0 1rem;
  font-size: 2rem;
}

.footer-icons-wrapper > span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  border-top: 1px solid #fff;
}

.footer-copyright-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-copyright__text {
  font-size: 0.7rem;
  color: #cccccc;
}

.footer-copyright__link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright__link-wrapper > a {
  padding: 0 1rem;
  font-size: 0.9rem;
  text-decoration: underline;
}

.footer-copyright__link-wrapper > a:nth-child(1) {
  border-right: 1px solid #fff;
}
/*# sourceMappingURL=main.css.map */