@import "variables";
@import "mixins";

body {
  font-family: $main-font-family;
  color: $primary-color;
  margin: 0;
}
footer {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 3rem 0;
  a {
    color: $secondary-color;
  }
}
h1 {
  font-size: $h1--font-size;
  margin-top: 0;
}

h2 {
  font-size: $h2--font-size;
  margin-top: 0;
}
h3 {
  font-size: $h3--font-size;
  margin-top: 0;
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    color: $link-color;
  }
}

.container {
  max-width: 1080px;
  margin: auto;
  padding: 100px 1rem;
}

.hero {
  @include flex-alignment-center();
}

.card-base {
  box-sizing: border-box;
  border-radius: $main-border-radius;
  margin: 1rem;
  padding: 1.5rem 1.8rem;
  background-color: $secondary-color;
  box-shadow: 0px 0px 3px 1px rgba(155, 155, 155, 0.08);
  flex: 0 1 30%;
  position: relative;
}

.button-cta {
  cursor: pointer;
  background-color: $cta-color;
  border: 1px solid $cta-color;
  border-radius: $main-border-radius;
  font-weight: bold;
  color: $secondary-color;
  appearance: none;
  transition: $main-transistion-time;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: scale-color($color: $cta-color, $lightness: 30%);
  }
}

.button-cta--is-outlined {
  cursor: pointer;
  background-color: $secondary-color;
  border: 1px solid $cta-color;
  border-radius: $main-border-radius;
  font-weight: bold;
  color: $cta-color;
  appearance: none;
  transition: $main-transistion-time;
  padding: 0.5rem 2rem;
  &:hover {
    background-color: scale-color($color: $cta-color, $lightness: 90%);
  }
}

// --------------- navbar ------------- //

.navbar-menu {
  @include flex-alignment-vertical-center();
  box-shadow: 0px 3px 2px rgba(120, 120, 120, 0.1);
  min-height: 80px;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}

.nav-container {
  @include flex-alignment-vertical-center();
  padding: 0;
  margin: 0 auto;
  flex: 0 0 100%;
  align-self: stretch;
}

.navbar__logo {
  max-width: 100px;
  height: auto;
}
.nav-wrapper {
  @include flex-alignment-vertical-center;
  justify-content: space-between;
  width: 100%;
  align-self: stretch;
}
.nav__links-wrapper {
  @include flex-alignment-vertical-center;
  list-style: none;
  height: 100%;
  margin: 0;
}
.nav__link {
  height: inherit;
  padding: 0 1rem;
  position: relative;
  > span {
    @include flex-alignment-vertical-center;
    height: inherit;
    i {
      margin-left: 0.5rem;
      font-size: 0.7rem;
    }
  }
  &:hover {
    .dropdown-content {
      opacity: 1;
      top: initial;
    }
  }
}
// --------------- fine navbar ------------- //

// --------------- top navbar ------------- //
.top-nav__language-sales-section {
  display: flex;
}

.top-nav__end-section {
  @include flex-alignment-vertical-center;
  > * {
    padding: 0 1rem;
  }
}
.top-nav__link-icon {
  @include flex-alignment-vertical-center();
  i {
    margin: 0 0.5rem;
  }
  &:nth-child(n + 2) {
    margin: 0 1.5rem;
  }

  &:hover {
    > * {
      color: $link-color;
    }
  }
}

.top-nav__search-input-wrapper {
  position: relative;
  &:hover {
    > .top-nav__search-input__icon {
      position: absolute;
      padding: 10px 15px;
      left: 10px;
    }
    > .top-nav__search-input {
      display: block;
    }
  }
}
.top-nav__search-input__icon {
  color: $link-color;
  cursor: pointer;
}
.top-nav__search-input {
  padding: 8px 8px 8px 30px;
  border: 1px solid $primary-color--is-light;
  border-radius: $main-border-radius;
  display: none;
  appearance: none;
  &:focus {
    outline: none;
  }
}
// --------------- fine top navbar ------------- //

// --------------- elementi dropdown ------------- //
.dropdown-content {
  @include flex-alignment-center();
  flex-direction: column;
  position: absolute;
  border-radius: $main-border-radius;
  border: 1px solid $primary-color--is-lighter;
  background-color: darken($color: $secondary-color, $amount: 0.5);
  padding: 2rem;
  width: 100%;
  top: -1000px;
  opacity: 0;
  transition: all $main-transistion-time ease-in-out;
  width: max-content;
  overflow: hidden;
}

.dropdown-content__button-cta-wrapper {
  @include flex-alignment-center();
  justify-content: space-around;
}

.dropdown-software__title {
  margin-bottom: 0;
}

.dropdown-software__paragraph {
  padding-bottom: 1.5rem;
  color: $primary-color--is-light;
}

.dropdown-software__button-cta {
  @extend .button-cta--is-outlined;
  border-color: $link-color;
  margin: 0 1rem;
  width: max-content;
  padding: 1rem 2.5rem;
  &:hover {
    background-color: $link-color--is-light;
  }
  > a {
    color: $link-color;
    i {
      font-size: 0.8rem;
      margin-left: 0.3rem;
    }
  }
}

.dropdown-software__cards-wrapper {
  @include flex-alignment-vertical-center();
  max-width: fit-content;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.product-card-dropdown {
  @extend .card-base;
  cursor: pointer;
  display: flex;
  align-self: stretch;
  margin: 0.8rem;
  transition: $main-transistion-time + 0.2;
  &:hover {
    box-shadow: 0px 0px 5px 3px rgba(155, 155, 155, 0.08);
  }
  i {
    margin-top: 0.3rem;
  }
}
.product-card-dropdown__text-wrapper {
  padding-left: 0.5rem;
}
.product-card-dropdown__title {
  margin-bottom: 0;
  font-size: 1rem;
}
.product-card-dropdown__content {
  font-size: 0.8rem;
  color: $primary-color--is-light;
  > a {
    color: $link-color;
    font-weight: bold;
    i {
      font-size: 0.6rem;
      padding-left: 0.3rem;
    }
  }
}

.dropdown-content__resources-wrapper {
  display: flex;
  max-width: 700px;
}
.dropdown-resources__section {
  display: flex;
  flex-wrap: wrap;
  > i {
    flex-basis: 10%;
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}
.dropdown-resources__text-wrapper {
  @include flex-column();
  flex-basis: 85%;
}
.dropdown-resources__title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
.dropdown-resources__links {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  li {
    padding: 0.3rem 0;
  }
}
.product__new-tag {
  background-color: rgb(28, 209, 28);
  padding: 5px 5px;
  font-size: 0.6rem;
  font-weight: bold;
  color: $secondary-color;
  width: min-content;
  border-radius: $main-border-radius;
  display: inline;
}
// --------------- fine elementi dropdown ------------- //

// --------------- primo contenuto della pagina ------------- //
.hero-first-content {
  border-bottom: 3px solid $primary-color;
  background-color: #fff3ef;
}

.first-content__text-wrapper {
  max-width: 45%;
}

.first-content__p__description {
  font-size: 1.3rem;
}

.first-content__button-cta {
  @extend .button-cta;
  padding: 1.8rem 2.5rem;
  font-size: 1.1rem;
}

.first-content__p__caption {
  max-width: 80%;
  font-size: 0.8rem;
}

// --------------- fine primo contenuto della pagina ------------- //

// --------------- sezione prodotti ------------- //
.hero-products {
  background-color: $content-section-color;
}

.products-container {
  @include flex-alignment-center();
  flex-direction: column;
}
.products__content__h2 {
  max-width: 60%;
  text-align: center;
}
.products__content__p {
  max-width: 70%;
}

.products__content__button-cta {
  @extend .button-cta;
  font-size: 1.1rem;
  margin: 1rem 0.5rem;
}
.products__content__button-cta--is-outlined {
  @extend .products__content__button-cta;
  @extend .button-cta--is-outlined;
}

.products-cards_wrapper {
  @include flex-alignment-vertical-center();
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.product-card {
  @extend .card-base;
  transition: $main-transistion-time + 0.2;
  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 15px 3px rgba(155, 155, 155, 0.18);
  }
}

.product-card__new-tag {
  background-color: rgb(0, 216, 72);
  color: $secondary-color;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 10px;
  padding: 2px 10px;
  border-radius: 1em 0 0 1em;
}

.product-card__title {
  display: flex;
  align-items: center;
}
.product-card__title__h3 {
  margin: 0 0.5rem;
}
.product-card__title__sup {
  margin: 0;
  align-self: flex-start;
}
.product-card__content {
  font-size: 0.8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $secondary-color;
}
.product-card__features-title {
  padding-top: 1rem;
  font-size: 1.1rem;
}
.product-card__feature {
  font-size: 0.85rem;
  margin-bottom: 0.5rem;
  &::before {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f058";
    color: $cta-color;
    margin-right: 0.5rem;
  }
  &::marker {
    content: "";
  }
}

.product-card__button-cta {
  @extend .button-cta;
  font-size: 1rem;
  margin-top: 1rem;
  width: 100%;
}
// --------------- fine sezione prodotti ------------- //

// --------------- sezione community ------------- //
.hero-community {
  background: linear-gradient(
    to right top,
    rgb(37, 138, 151),
    rgb(44, 182, 175)
  );
}

.community-container {
  color: $secondary-color;
  text-align: center;
}
.community__text {
  width: 80%;
  margin: auto;
}
.community__title {
  font-size: 2.2rem;
  font-weight: bold;
}
.community__paragraph {
  font-size: 1.1rem;
}
.community__grid {
  @include flex-alignment-center();
  flex-wrap: wrap;
  padding-top: 2rem;
}
.community__grid__element {
  @include flex-alignment-center();
  flex-basis: 25%;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1rem;
  border-bottom: 1px solid $secondary-color;
  border-right: 1px solid $secondary-color;
  &:nth-child(4),
  &:last-child {
    border-right: 0;
  }
  &:nth-child(n + 5) {
    border-bottom: 0;
  }
}
.community__grid__element__image {
  font-size: 2.5rem;
}
.community__grid__element__content {
  @include flex-alignment-center();
  font-size: 4rem;
  font-weight: bold;
  > i {
    font-size: 0.8rem;
  }
}
// --------------- fine sezione community ------------- //

// --------------- sezione customers ------------- //
.customers-container {
  @include flex-alignment-vertical-center;
  justify-content: space-between;
}
.customer__title {
  @include flex-alignment-vertical-center;

  font-size: 3rem;
  > i {
    font-size: 1.5rem;
  }
}
.customer__paragraph {
  font-size: 1.5rem;
}
.customer__images__container {
  @include flex-alignment-center();
  flex-wrap: wrap;
  > img {
    flex-basis: 25%;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 100px;
    margin: 1rem;
  }
}
// --------------- fine sezione customers ------------- //

// --------------- sezione start-today (ultima call to action) ------------- //
.start-today-container {
  @include flex-alignment-vertical-center();
  justify-content: space-between;
  // flex-wrap: wrap;
  > img {
    max-width: 300px;
  }
}
.start-today__text {
  flex-basis: 60%;
}
.start-today__title {
  font-size: 2.3rem;
}
.start-today__paragraph {
  padding-bottom: 1rem;
}
.start-today__caption {
  font-size: 0.8rem;
  color: $primary-color--is-light;
}
// --------------- fine start-today (ultima call to action) ------------- //

// --------------- footer ------------- //
.footer-container {
  padding: 0;
  @include flex-alignment-center();
  flex-wrap: wrap;
}
.footer-section {
  align-self: flex-start;
  box-sizing: border-box;
}
.footer-nav {
  margin: 0 2rem;
  * {
    padding: 0.5rem 0;
  }
}
.footer-left {
  @extend .footer-section;
  flex-basis: 40%;
  .footer-link-wrapper {
    max-height: 30vh;
  }
}

.footer-right {
  @extend .footer-section;
  display: flex;
  flex-basis: 60%;
  border-left: 1px solid $secondary-color;
}
.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 0.8rem;
  box-sizing: border-box;
  > a {
    padding-right: 1rem;
  }
}
.footer-nav__title {
  font-weight: bold;
  margin-bottom: 0;
}
.footer-icons-wrapper {
  @include flex-alignment-center();
  margin: 1rem 0;
  > a {
    padding: 0 1rem;
    font-size: 2rem;
  }
  > span {
    flex: 0 0 100%;
    border-top: 1px solid $secondary-color;
  }
}

.footer-copyright-wrapper {
  @include flex-alignment-center();
  flex: 0 0 100%;
  flex-direction: column;
}

.footer-copyright__text {
  font-size: 0.7rem;
  color: darken($color: $secondary-color, $amount: 20);
}
.footer-copyright__link-wrapper {
  @include flex-alignment-vertical-center();
  justify-content: space-between;
  > a {
    padding: 0 1rem;
    font-size: 0.9rem;
    text-decoration: underline;
    &:nth-child(1) {
      border-right: 1px solid $secondary-color;
    }
  }
}
// --------------- fine footer ------------- //
